<h1 class="mt-4">{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group m-4">
	<li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
	<li class="list-group-item"><strong>Phone: </strong>{{user.phone}}</li>
</ul>
<a class="btn btn-primary pull-left m-1" href="/">Back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE" class="form-inline">
	<input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>